<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/styles/reviewStyle.css">
    <title th:text="${reviewModel.title}">A review</title>
</head>
<body>
<div class="review_container">
<header>
    <h1 th:text="${reviewModel.title}">A Review</h1>
</header>

<main>
    <ul>
        <p><a href="/">Home</a></p>
        <p th:text="${reviewModel.reviewCategory}"></p>
    </ul>
    <h3 th:text="${reviewModel.description}"></h3>
    <img class="legoImg" th:src="${reviewModel.imageUrl}" alt="picture of lego set">
    <h3 th:text="${reviewModel.content}"></h3>
</main>
</div>
<footer>
    <small>&copy WCCI 2021</small>
</footer>

</body>
</html>