@import url("https://fonts.googleapis.com/css2?family=Lato");

* {
  background-color: rgb(102, 116, 116);
  color: black;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: 18px/1.618 sans-serif;
  font-family: "Lato", sans-serif;
  margin: 3rem;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

img {
  display: flex;
  justify-content: center;
  height: auto;
  max-width: 25%;
}

a {
  text-decoration: none;
  font-style: bold;
}

.legoImg {
display: grid;
justify-content: center;
}


